/* Hero.module.css */

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 49px 10% 0;
  z-index: 1;
}

.content {
  text-align: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 4vw; /* Adjust font size as needed */
  font-weight: 900;
  margin-bottom: 3vw; /* Adjust margin as needed */
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 2.5vw; /* Adjust font size as needed */
  font-family: var(--font-roboto);
  margin-bottom: 4vw; /* Adjust margin as needed */
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 2.5vw; /* Adjust font size as needed */
  font-weight: 600;
  padding: 1.5vw 2.5vw; /* Adjust padding as needed */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 50vw; /* Initial width */
  max-width: 300px; /* Maximum width for larger screens */
  animation: floating 3s infinite ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 830px) {
  .heroImg {
    width: 70vw; /* Adjust width for smaller screens */
    max-width: 60%; /* Maximum width for smaller screens */
  }
}


.topBlur,
.bottomBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  border-radius: 764px;
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  top: -15vw; /* Adjust top position as needed */
  left: -10vw; /* Adjust left position as needed */
  background: rgba(43, 21, 140, 0.19);
}

.bottomBlur {
  top: 15vw; /* Adjust top position as needed */
  right: -25vw; /* Adjust right position as needed */
  background: rgba(77, 48, 158, 0.48);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media screen and (max-width: 830px) {
  .heroImg {
    width: 80vw; /* Adjust width as needed for smaller screens */
  }

  .topBlur,
  .bottomBlur {
    width: 70vw; /* Adjust width as needed for smaller screens */
    min-width: auto;
  }
}
