@import "../../vars.css";


.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 3vw; /* Adjust font size using viewport width */
  font-weight: 700;
  letter-spacing: 0.2em; /* Adjust letter spacing as needed */
}

.text p {
  font-size: 3vw; /* Adjust font size using viewport width */
  font-weight: 400;
  letter-spacing: 0.1em; /* Adjust letter spacing as needed */
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 2vh; /* Adjust gap using viewport height */
}

.link a {
  font-size: 3vw; /* Adjust font size using viewport width */
  font-weight: 400;
  letter-spacing: 0.1em; /* Adjust letter spacing as needed */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }

  .text h2 {
    font-size: 10vw; /* Adjust font size using viewport width for smaller screens */
  }

  .text p,
  .link a {
    font-size: 4vw; /* Adjust font size using viewport width for smaller screens */
  }
}
