.container {
  color: var(--color-text);
  margin: 9px 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.skillImageContainer img {
  width: 50px;
}

.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #19376d;
  background: linear-gradient(90deg, #1e5be03f 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 20px;
}

.historyItem img {
  width: 40px;
}

.historyItemDetails h3 {
  font-size: 20px;
}

.historyItemDetails p {
  font-size: 16px;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 16px;
  list-style-type: disc;
  margin-left: 17px;
}
